<section id="institucional">
<div class="row">
    
    <div class="col-md-2">

            
      <!-- tabs left -->
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-1" data-toggle="tab">Pesquisa</a></li>
          <li><a href="#tab-2" data-toggle="tab">Regimento Interno</a></li>
          <li><a href="#tab-3" data-toggle="tab">Estatuto do Servidor</a></li>
        </ul>
        </div>
       </div>
       <div class="col-md-9">
        <div class="tab-content">
         <div class="tab-pane active text-justify" id="tab-1">
          <%= render partial: "elements/pesquisa_leis" %>
         </div>
         <div class="tab-pane" id="tab-2">
          <%= render partial: "elements/regimento_interno" %>
         </div>
         <div class="tab-pane" id="tab-3">
          <%= render partial: "elements/estatuto_do_servidor" %>
        </div>
      </div>

      <!-- /tabs -->
      
    </div>
</section>