<div class="row container">
	<div class="col-md-9">
		<h2>Fale Conosco</h2>
		<hr>
		</br>
			<i class="fa fa-phone fa-fw fa-2x"></i> <strong>(24) 2453-3199, 2453-3777 | Tele-fax: 2453-4825</strong>
			<br>
			<br>
			<i class="fa fa-home fa-fw fa-2x"></i> <strong>Praça XV de Novembro, nº. 676 – Centro – Valença-RJ</strong>
			<br>
			<br>
			<h5>DIRETOR DA CÂMARA MUNICIPAL</h5>

			<p>Dr. Marcos Alves Ávila</p>
			<p><i class="fa fa-phone fa-fw"></i> (24) 99829-4573</p>
			<p><i class="fa fa-envelope fa-fw"></i> diretor@cmvalenca.rj.gov.br</p>

			<br>
			<h5>CONSULTOR JURÍDICO</h5>

			<p>João César Santos Paschoal da Silva</p>
			<p><i class="fa fa-envelope fa-fw"></i> consultoria-juridica@cmvalenca.rj.gov.br</p>

			<br>
			<h5>ASSESSOR DE COMUNICAÇÃO SOCIAL</h5>

 			<p>Jorge Alexandre da Silva</p>
			<p><i class="fa fa-phone fa-fw"></i> (24) 99843-0963 (Assessor)</p>
			<p><i class="fa fa-envelope fa-fw"></i> assessoria-comunicacao@cmvalenca.rj.gov.br</p>
			<p><i class="fa fa-envelope fa-fw"></i> jornalistajorgealexandre@yahoo.com.br</p>

			<br>


	</div>
	<div class="col-md-3">
    <%= render partial: "elements/sidebar_menu" %>
  </div>
</div>
