<div>
	<div class="row container">
		<div class="col-md-9">
			<hr>
			<h5>Noticias</h5>
			Aqui fica as ultimas noticias



		</div>
		<div class="col-md-3">
			<hr>
			<h5>Sidebar</h5>
		</div>
	</div>

	<div class="row container">
		<div class="col-md-9">
			<hr>
			<h5>Vereadores</h5>
		</div>
		<div class="col-md-3">
			<hr>
			<h5>TV Camara</h5>
		</div>
	</div>
</div>
