<div class="row">
    
    <div class="col-md-12">
          <%= render partial: "elements/estatuto_crianca" %>
          <hr>
    </div>
      
</div>
<div class="row">
    
    <div class="col-md-12">
          <%= render partial: "elements/estatuto_idoso" %>
          <hr>
    </div>
      
</div>
<div class="row">
    
    <div class="col-md-12">
          <%= render partial: "elements/lei_maria" %>
          <hr>
    </div>
      
</div>
<div class="row">
    
    <div class="col-md-12">
          <%= render partial: "elements/cod_consumidor" %>
          <hr>
    </div>
      
</div>