<div class="row container">
	<div class="col-md-9">
		<h2>TV Câmara</h2>
		<hr>
		</br>

		<script src="//stream.locaweb.com.br/embed.js"></script>
 
		<div class="center" id="lws-player" 
		     data-lws-stream="54431146133" data-lws-mode="video" 
		     data-lws-server="//server-1.locaaovivo.com.br/"
		     data-lws-width="640" data-lws-height="360">
		</div>
		<br>
		<div class="player-image"><%= image_tag("player.png") %></div>

	</div>
	<div class="col-md-3">
    <%= render partial: "elements/sidebar_menu" %>
  </div>
</div>
