<div class="row container">
	<div class="col-md-9">
		<h2>TV Câmara</h2>
		<hr>
		</br>

		<div class="text-center">
			<OBJECT type="application/x-mplayer2" height="290" width="370" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6" bgcolor="black">
		  
			<PARAM NAME="URL" VALUE="http://www.cmvalenca.rj.gov.br/arquivo.asx">
			  
			<PARAM NAME="AutoStart" VALUE="false"> 
			  
			
			  
			<EMBED type="application/x-mplayer2" pluginspage = "http://www.microsoft.com/Windows/MediaPlayer/" SRC="http://cmvalenca.rj.gov.br/arquivo.asx" name="MediaPlayer1" width="320" height="240" <AutoStart="false"> </EMBED>
			</OBJECT>
		
		
		</div>

	</div>
	<div class="col-md-3">
    <%= render partial: "elements/sidebar_menu" %>
  </div>
</div>