<div class="row">
  <div class="col-md-10 col-md-offset-1"><h3>Código do Consumidor<br>
  <small>O Código Brasileiro de Defesa do Consumidor (CDC) é, no ordenamento jurídico brasileiro, um conjunto de normas que visam a proteção aos direitos do consumidor, bem como disciplinar as relações e as responsabilidades entre o fornecedor (fabricante de produtos ou o prestador de serviços) com o consumidor final, estabelecendo padrões de conduta, prazos e penalidades.</small>
  </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
  		<div class="regimento-align">
  			<%= link_to "Visualizar", asset_path("codigo-defesa-consumidor.pdf"), :target => '_blank', :class => 'btn btn-primary', :title => "Visualizar" %>
  		</div>
  </div>
</div>