<div class="conatiner">
<div class="row">
  <div class="col-md-10 col-md-offset-1"><h3>Comissões</br>
	  <small>
	  	Conheça as Comissões da Câmara de Valença - RJ para o biênio 2015/2016 (Ata 02/02/2015)
	  </small></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
  		<div class="regimento-align">
  			<%= link_to "Visualizar", asset_path("comissoes_bienio_2015_2016.pdf"), :target => '_blank', :class => 'btn btn-primary', :title => "Visualizar" %>
  		</div>
  </div>
</div>
</div>
