<div class="row">
  <div class="col-md-10 col-md-offset-1"><h3>Estatuto da Criança e do Adolescente<br>
  <small>Estatuto da Criança e do Adolescente (ECA) é o conjunto de normas do ordenamento jurídico brasileiro que tem como objetivo a proteção integral da criança e do adolescente, aplicando medidas e expedindo encaminhamentos para o juiz. É o marco legal e regulatório dos direitos humanos de crianças e adolescentes.</small>
  </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
  		<div class="regimento-align">
  			<%= link_to "Visualizar", asset_path("estatuto_crianca_adolescente.pdf"), :target => '_blank', :class => 'btn btn-primary', :title => "Visualizar" %>
  		</div>
  </div>
</div>