<div class="row">
  <div class="col-md-10 col-md-offset-1"><h3>Estatuto do Idoso<br>
  <small>O estatuto do idoso é um estatuto no qual são ditos os direitos dos idosos e também prevê punições a quem os violarem, dando aos idosos uma maior qualidade de vida.</small>
  </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
  		<div class="regimento-align">
  			<%= link_to "Visualizar", asset_path("estatuto_idoso.pdf"), :target => '_blank', :class => 'btn btn-primary', :title => "Visualizar" %>
  		</div>
  </div>
</div>