<h3>Ex-Presidentes</h3>
	<ol>
		<li>José da Silveira Vargas – 1829 a 1832</li>
		<li>Visconde de Baependy (Braz Carneiro N. da Costa e Gama) 1833 a 1840</li>
		<li>Dr. José Idelfonso de Souza Ramos ( Visconde de Jaguary) 1841 a 1840</li>
		<li>João Batista de Araujo Leite – 1845 a 1848</li>
		<li>Visconde de Baependy – 1849 a 1856</li>
		<li>Capitão Floriano Leite Ribeiro – 1857 a 1860</li>
		<li>Barão do Rio Preto – 1861 a 1868</li>
		<li>Manoel Jacinto Carneiro N. da Gama – (Barão de Juparanã) 1869 a 1872</li>
		<li>Comendador José Gonçalves de Moraes – 1873 a 1876</li>
		<li>Dr. José Rezende Teixeira Guimarães – 1877 a 1880</li>
		<li>Comendador Domingos Theodoro de Azevedo Junior – 1881 a 1882</li>
		<li>Capitão João Rufino Furtado de Mendonça – 1883 a 1884</li>
		<li>Barão de Vista Alegre – 1885</li>
		<li>Tenente Bejamin de Salles Pinheiro – 1885 a 1886</li>
		<li>João José Pereira da Silva – 1887</li>
		<li>Dr. Carlos Augusto de Oliveira Figueiredo – 1888 a 1889</li>
		<li>Dr. Ernesto Frederico da Cunha – 1889</li>
		<li>Dr. Augusto de Oliveira Pinto – 1890</li>
		<li>Dr. João Francisco Barcellos – 1890</li>
		<li>Dr. Antonio José Fernandes – 1890</li>
		<li>Dr. Joaquim Ignácio de Mello e Souza Jequiriça – 1891</li>
		<li>Antonio Leite Pinto – 1891</li>
		<li>Dr. João Francisco Barcellos – 1892</li>
		<li>Dr. Ernesto Frederico da Cunha – 1893</li>
		<li>Dr. Romualdo de Andrade Baena – 1895 a 1897</li>
		<li>Major Carlos Antônio Ferraz – 1898</li>
		<li>Coronel Antonio Leite Pinto – 1898 a 1900</li>
		<li>Dr. Ernesto Frederico da Cunha – 1901 a 1902</li>
		<li>Coronel Carlos Antonio Ferraz – 1903 a 1904</li>
		<li>Dr. Ernesto Ribeiro de Souza Resende – 1907 a 1909</li>
		<li>Coronel Antonio Leite Pinto – 1906</li>
		<li>Dr. Ernesto Ribeiro de Souza Resende – 1907 a 1909</li>
		<li>Frederico de Sôto Gracia de La Vega – 1910 a 1915</li>
		<li>Coronel Antonio Leite Pinto – 1916</li>
		<li>Coronel Carlos Antonio Ferraz – 1917 a 1920</li>
		<li>Dr. José Hypólito de Oliveira Ramos Filho – 1921</li>
		<li>Coronel Manoel Joaquim Cardoso – 1922 a 1923</li>
		<li>Dr. Humberto de Castro Pentagna – 1924 a 1926</li>
		<li>Dr. Luiz Pinto – 1937</li>
		<li>Floriano Sobral Pinto – 1047 a 1950</li>
		<li>Gustavo Monteiro Carvalho - 1948</li>
		<li>Pedro Ramos Gomes – 1951 a 1954</li>
		<li>Pascholino Guelpel – 1954 a 1955</li>
		<li>Ludovico Cosate – 1955 a 1957</li>
		<li>Constantino Francisco Silvestre – 1957</li>
		<li>Luiz Ielpo Capobianco – 1957</li>
		<li>Nélio Ramos da Silva – 1957 a 1959</li>
		<li>Aladim de Oliveira Maia – 1959 a 1962</li>
		<li>Pascholino Guelpel – 1962</li>
		<li>José de Oliveira Lima – 1962</li>
		<li>Estevam Gomes de Sá – 1962 a 1965</li>
		<li>Valentim de Souza Lima – 1965 a 1968</li>
		<li>Benedito Pereira de Oliveira – 1968 a 1969</li>
		<li>Paulo Monteiro de Carvalho – 1969</li>
		<li>Valentim de Souza Lima – 1970 a 1971</li>
		<li>Alcides Serafim – 1970</li>
		<li>Munir de Assis – 1971 a 1973</li>
		<li>Geraldo de Lima Bastos – 1973 a 1975</li>
		<li>Francisco Soares de Oliveira – 1974</li>
		<li>Silvio Jannuzzi – 1975</li>
		<li>Fernando Antônio Machado Miguel – 1975</li>
		<li>Djalma Macedo – 1977 a 1979</li>
		<li>Joaquim Fernandes Faria – 1979</li>
		<li>César Capobianco – 1979</li>
		<li>Fernando Antônio Machado Miguel – 1979 a 1981</li>
		<li>Carlos Roberto Santos – 1981 a 1983</li>
		<li>Victor Emanuel Couto – 1983 a 1985</li>
		<li>Lycurgo José Paixão Coelho – 1985 a 1987</li>
		<li>César Capobianco – 1987 a 1989</li>
		<li>Haroldo da Silva Mancebo – 1989 a 1991</li>
		<li>Victor Emanuel Couto – 1991 a 1993</li>
		<li>José Otávio Conceição Soares – 1993 a 1994</li>
		<li>Roberto Silva Machado – 1995 a 1996</li>
		<li>Gilberto Wilson Lima Monteiro – 1997 a 1998</li>
		<li>Cyro Guimarães – 1999 a 2000</li>
		<li>José Reinaldo Alves Bastos – 2001 a 2002</li>
		<li>Rômulo Milagres Ribeiro – 2003 a 2004</li>
		<li>Victor Emmanuel Couto – 2005 a 2006</li>
		<li>Walnir Benedito do Amaral – 2007 a 2008</li>
		<li>Lourenço de Almeida Capobianco – 2007 a 2008</li>
		<li>Luiz Fernando Furtado da Graça – 2009 a 2010 (Até 7 de julho – 2010 – Foi para Prefeitura Municipal)</li>
		<li>Salvador de Souza (Julho 2010 a Dezembro 2010)</li>
		<li>Paulo Jorge César – Paulinho da farmácia (Período de Janeiro a fevereiro de 2011 – Período em que foi prefeito interino de Valença)</li>
		<li>Jose Reinaldo Alves Bastos (Naldo – Janeiro a fevereiro)</li>
		<li>Paulo Jose César (Paulinho da Farmácia – Março de 2011 a 2012)</li>
		<li>Salvador de Souza (Dodô – 1o. de janeiro de 2013 até 31 de dezembro de 2014)</li>
	</ol>