<footer>
 
        <div class="col-md-12 text-center" id="footer-up">
          <address>
            Câmara Municipal de Valença<br> 
            Praça XV de Novembro, 676 - Centro<br>
            Valença-RJ - CEP: 27600-000<br>
            Tel.: (24) 2453-3199 / (24) 2453-3777<br>
            Fax: (24) 2453-4825
          </address>
        </div>


        <div class="col-md-12" id="footer-down">
          <p><small>
            &copy; <%= Time.now.year %> - Camara Municipal de Valença - Todos os direitos reservados
          </small></p>
        </div>


  <% if Rails.env == "production" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXXX-XX', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
</footer>