<br>
<h1>Hino de Valença<small>
<p>Letra: Arnaldo Nunes</p>
</small></h1>
<br>

<p>Salve a graça de quem sente</p>
<p>quanto é grande o Criador,</p>
<p>porque só sentindo-se a gente</p>
<p>se encaminha ao véro amor!</p>
<br>
<p>Glória ao filho que os seus ama</p>
<p>e que os sabe merecer,</p>
<p>porque espalha a linda chamada</p>
<p>de benéfico Dever!</p>
<br>
<p>A luz do céu de Valença</p>
<p>é milagroso fanal:</p>
<p>ser filho teu, que honra imensa,</p>
<p>ó mnha Terra Natal!</p>
<br>
<p>Venturoso o que a imagem</p>
<p>do País na alma conduz.</p>
<p>porque, longe de selvagem,</p>
<p>seu roteiro enche de luz!</p>
<br>
<p>Honra a quem cultua, eterna,</p>
<p>ao calor do coração,</p>
<p>a mirífica luzerna</p>
<p>do seu dúlcido rincão!</p>
<br>
<p>A luz do céu de Valença</p>
<p>é milagroso fanal:</p>
<p>ser filho teu, que honra imensa</p>
<p>ó minha Terra Natal!</p>
<br>
<p>Nenhum povo se engrandece,</p>
<p>se sevil ou se incapaz</p>
<p>Nossa Terra, lida e cresce,</p>
<p>para tua glória e paz!</p>
<br>
<p>Sê modesta, mas altiva</p>
<p>a lutar sempre de pé,</p>
<p>que o progresso se cultiva</p>
<p>com Verdade, Amor e Fé!</p>
<br>
<p>A luz do céu de Valença</p>
<p>é milagroso fanal:</p>
<p>ser filho teu, que honra imensa</p>
<p>ó minha Terra Natal!</p>
