<div class="row">
  <div class="col-md-10 col-md-offset-1"><h3>Lei Maria da Penha<br>
  <small>A Lei Maria da Penha, denominação popular da Lei número 11,340 é um dispositivo legal Brasileiro que visa aumentar o rigor das punições sobre crimes domésticos, é normalmente aplicada aos homens que agridem fisicamente ou psicologicamente a uma mulher ou à esposa, o que é mais recorrente.</small>
  </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1"> 
  		<div class="regimento-align">
  			<%= link_to "Visualizar", asset_path("lei-maria-penha.pdf"), :target => '_blank', :class => 'btn btn-primary', :title => "Visualizar" %>
  		</div>
  </div>
</div>