<div class="conteiner">
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><h3>Regimento Interno</br>
		  <small>
		  	O Regimento Interno da Câmara Municipal de Valença é o instrumento delineador das atribuições deste órgão do Poder Legislativo Municipal. Nele estão contempladas as funções legislativas, fiscalizadoras e administrativas da Câmara Municipal. Trata-se, portanto, de um ato normativo de exclusiva competência da Câmara. Seu cumprimento é condição primordial para o bom andamento dos trabalhos da Casa.
		  </small></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1"> 
    		<div class="regimento-align">
    			<%= link_to "Visualizar", asset_path("REGIMENTOINTERNO.pdf"), :target => '_blank', :class => 'btn btn-primary', :title => "Visualizar" %>
    		</div>
    </div>
  </div>
</div>