<div class="pull-right mini-submenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</div>
<div class="list-group menu-side">
    <span href="#" class="list-group-item header active">
        Submenu
        <span class="pull-right" id="slide-submenu">
            <i class="fa fa-times fa-fw"></i>
        </span>
    </span>
    <a href="/tv_camara" class="list-group-item">
        <i class="fa fa-video-camera fa-fw"></i> TV Câmara
    </a>
    <a href="/noticias" class="list-group-item">
        <i class="fa fa-newspaper-o fa-fw"></i> Notícias
    </a>
    <a href="/agenda" class="list-group-item">
        <i class="fa fa-calendar fa-fw"></i> Agenda
    </a>
    <a href="/institucional#tab-4" class="list-group-item">
        <i class="fa fa-location-arrow fa-fw"></i> Conheça Valença 
    </a>
    <a href="/institucional#tab-3" class="list-group-item">
        <i class="fa fa-users fa-fw"></i> Mesa Diretora
    </a>
    <a href="/transparencias" class="list-group-item">
        <i class="fa fa-file fa-fw"></i> Portal da Transparência
    </a>
    <a href="/regimento" class="list-group-item">
        <i class="fa fa-legal fa-fw"></i> Regimento Interno
    </a>
    <a href="/cronograma" class="list-group-item">
        <i class="fa fa-calendar fa-fw"></i> Cronograma de Ações
    </a>
</div>        

