<div class="pull-right mini-submenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</div>
<div class="list-group menu-side">
    <span href="#" class="list-group-item header active">
        Submenu
        <span class="pull-right" id="slide-submenu">
            <i class="fa fa-times"></i>
        </span>
    </span>
    <a href="#" class="list-group-item">
        <i class="fa fa-video-camera"></i> TV Camara
    </a>
    <a href="/noticias" class="list-group-item">
        <i class="fa fa-newspaper-o"></i> Noticias
    </a>
    <a href="/agenda" class="list-group-item">
        <i class="fa fa-calendar"></i> Agenda
    </a>
    <a href="/institucional#tab-4" class="list-group-item">
        <i class="fa fa-location-arrow"></i> Conheca Valenca 
    </a>
    <a href="/institucional#tab-3" class="list-group-item">
        <i class="fa fa-users"></i> Mesa Diretora
    </a>
    <a href="/transparencias" class="list-group-item">
        <i class="fa fa-file"></i> Portal da Transparencia
    </a>
    <a href="/regimento" class="list-group-item">
        <i class="fa fa-legal"></i> Regimento Interno
    </a>
</div>        

