<section id="blog">
	<div class="row">
		<div class="col-md-8 text-justify">
			<% if @posts.any? %>

			  <%= render partial: "blogit/posts/post", collection: @posts  %>

			<% else %>

			  <%= render partial: "blogit/posts/empty" %>

			<% end %>

			<%= render "pagination" %>
			
		</div>
		<div class="col-md-2">
			testando 
		</div>
	</div>
</section>